<template>
  <div class="container">
    <p class="lead">Product ini</p>
    <div class="row">
      <product-item v-for="(product, key) in products" :key="key" :product="product"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductPage',

  components: {
    ProductItem: () => import('./../components/ProductItem.vue')
  },

  data () {
    return {
      products: []
    }
  },

  created () {
    fetch('http://localhost:3000/product')
      .then(response => response.json())
      .then(response => {
        this.products = response
      })
  }
}
</script>
