<template>
  <div>
    <h1>Hallo</h1>
    {{ todos }}
  </div>
</template>

<script>
export default {
  asyncData ({ store, route }) {
    return store.dispatch('todo/fetchApi')
  },
  computed: {
    todos () {
      return this.$store.state.todo.todos
    }
  }
}
</script>
