<template>
  <div id="app">
    <ol>
      <li v-for="(todo, key) in todos" :key="key">
        {{ todo.text }}
      </li>
    </ol>
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      todos: []
    }
  },
  mounted () {
    this.fetchApi()
  },
  methods: {
    fetchApi () {
      fetch('http://localhost:4000/todos')
        .then(response => response.json())
        .then(response => {
          this.todos = response
        })
    }
  }
}
</script>

<style lang="scss">

</style>
