<template>
  <div>
    <todo-list-container>
      <template v-slot="props">
        <todo-list :todos="props.todos" :onAddTodo="props.onAddTodo"/>
      </template>
    </todo-list-container>
    <hr />
    <todo-not-done-list />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  components: {
    TodoListContainer: () => import('./../containers/TodoContainer.vue'),
    TodoList: () => import('./../components/TodoList.vue'),
    TodoNotDoneList: () => import('./../components/TodoNotDoneList.vue')
  },
  mounted () {
    this.fetchApi()
  },
  methods: {
    ...mapActions({
      fetchApi: 'todo/fetchApi'
    })
  }
}
</script>
