<template>
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Toko</strong>
        </a>

        <nav class="my-2 my-md-0 mr-md-3">
          <router-link :to="{ name: 'ProductPage'}" class="p-2 text-white">Product</router-link>
          <a class="p-2 text-white" href="#">Cart</a>
        </nav>
      </div>
    </div>
  </header>
</template>
