<template>
  <div class="col-md-3">
    <div class="card mb-3">
      <img class="card-img-top" :src="product.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="">{{ product.price }}</p>
        <p class="card-text">{{ product.category }}</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartItem',
  props: {
    product: { required: true, type: Object }
  }
}
</script>
