<template>
  <div>
    <slot :todos="todos" :onAddTodo="onAddTodo" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'TodoContainer',
  computed: {
    todos () {
      return this.getTodos
    },
    ...mapGetters({
      getTodos: 'todo/getTodos'
    })
  },
  methods: {

    ...mapActions({
      postTodo: 'todo/postTodo',
      removeTodo: 'todo/removeTodo'
    }),

    onAddTodo () {
      let id = this.getTodos.length + 1
      this.postTodo({ id, text: this.message, done: false })
    },

    onRemove (todo) {
      if (todo.done === true) {
        this.removeTodo(todo)
        return true
      }
      return false
    }
  }
}
</script>
