<template>
  <div id="app">
    <navigation />
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
    Navigation: () => import('./components/Navigation.vue')
  }
}
</script>

<style>

</style>
