<template>
  <div>
    <h1>Cart</h1>
    <div v-if="cart.length > 1">
      <ol>
        <li v-for="(product, key) in cart" :key="key">
          {{ product.name }} <button @click="onRemove(key)">Remove</button>
        </li>
      </ol>
    </div>
    <div v-else>
      Cart is empty
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cart: {
      type: Array,
      required: true
    },
    onDelete: {
      type: Function,
      required: true
    }
  },
  methods: {
    onRemove (index) {
      this.cart.splice(index, 1)
      this.onDelete()
    }
  }
}
</script>
