<template>
  <div>
    <h1>Not done list</h1>
    <ol>
      <li v-for="(todo, key) in todos" :key="key">
        {{ todo.text }}
      </li>
    </ol>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      todos: 'todo/getNotDoneTodos'
    })
  }
}
</script>
