<template>
  <div id="todo">
    <div v-if="todos.length > 0">
      <input type="text" v-model="message" />
      <button @click="onAddTodo">Add todo</button>
      <ol>
        <li v-for="(todo, key) in todos" :key="key">
          {{ todo.text }} {{ todo.done }}
        </li>
      </ol>
    </div>
    <div v-else>
      Todo cart is empty
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      message: ''
    }
  },
  props: {
    todos: {
      type: Array,
      required: true
    },
    onAddTodo: {
      type: Function,
      required: true
    }
  }
}
</script>
